{% extends "base.html" %}
{% load static %}

{% block page_title %}
Chat with Buddies!
{% endblock page_title %}

{% block contents %}
<body class="overflow-x-hidden bg-canvasColor">
<section class="mx-auto w-screen">

    {% include "includes/top_nav.html" %}

    <div class="relative flex items-start justify-between w-full">

        <div class="hidden lg:flex flex-col gap-4 rounded-lg fixed bg-bgColor items-center justify-start py-10 text-left">
            <a href="{% url "home" %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-solid fa-house" style="color: #ffffff;"></i></a>
            <a href="{% url "write-story" %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i></a>
            <a href="{% url "chat" %}" class="flex px-8 py-4 rounded-2xl bg-lightBlue"><i class="fa-regular fa-comment-dots" style="color: #ffffff;"></i></a>
            <a href="{% url "bookmark" %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-regular fa-bookmark" style="color: #ffffff;"></i></a>
            <a href="{% url "profile" profile.user.username %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
            <a href="{% url "setting" %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-solid fa-gear" style="color: #ffffff;"></i></a>
            <a href="{% url "logout" %}" class="flex px-8 py-4 rounded-2xl"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i></a>
        </div>

        <!--Chat Section-->
        <div class="flex justify-between w-full p-6 items-center lg:items-start mx-auto lg:ml-32">
            <!--All Chats-->
            <div class="flex flex-col items-start justify-start w-full lg:w-[30vw] lg:p-6 rounded-lg gap-4 lg:bg-bgColor">
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-start justify-start gap-1">
                        <h2 class="text-white text-[1.2rem] font-semibold">Chats</h2>
                        <div class="flex items-center p-1 bg-lightBlue rounded-md text-white text-xs">
                            {{ all_chats|length }}
                        </div>
                    </div>
                    <div class="chat-button cursor-pointer"><i class="fa-solid fa-users cursor-pointer" style="color: #FFFFFF;"></i></div>
                </div>
                <form action="" method="get" class="relative flex items-center w-full">
                    <input type="text" placeholder="Search for chats or buddies" class="flex items-center w-full bg-transparent px-10 py-3 border border-textCol/40 text-white rounded-lg focus:border-priColor">
                    <i class="fa-solid absolute fa-magnifying-glass px-4" style="color: #ffffff;"></i>
                </form>
                <!--Chat list-->
                {% for chat in all_chats %}
                <a href="{% url "open-chat" chat.receiver_user.username chat.slug %}" class="flex chat-box cursor-pointer p-2 lg:p-3 rounded-md w-full items-center justify-between">
                    <div class="flex items-center gap-4">
                        {% if chat.sender_user.id == request.user.id %}
                            {% if chat.receiver_profile.profile_picture %}
                            <img src="{{ chat.receiver_profile.profile_picture.url }}" alt="" srcset="" class="w-[3rem] rounded-full">
                            {% else %}
                            <img src="{% static "images/blank-picture.png" %}" alt="" srcset="" class="w-[3rem] rounded-full">
                            {% endif %}
                        {% else %}
                            {% if chat.sender_profile.profile_picture %}
                            <img src="{{ chat.sender_profile.profile_picture.url }}" alt="" srcset="" class="w-[3rem] rounded-full">
                            {% else %}
                            <img src="{% static "images/blank-picture.png" %}" alt="" srcset="" class="w-[3rem] rounded-full">
                            {% endif %}
                        {% endif %}
                        <div class="flex items-start flex-col gap-1">
                            {% if chat.sender_user.id == request.user.id %}
                                {% if chat.receiver_profile.display_name %}
                                <h5 class="text-white">{{ chat.receiver_profile.display_name|title }}</h5>
                                {% else %}
                                <h5 class="text-white">{{ chat.receiver_user.username|title }}</h5>
                                {% endif %}
                            {% else %}
                                {% if chat.sender_profile.display_name %}
                                <h5 class="text-white">{{ chat.sender_profile.display_name|title }}</h5>
                                {% else %}
                                <h5 class="text-white">{{ chat.sender_user.username|title }}</h5>
                                {% endif %}
                            {% endif %}
                            {% comment "" %}
                            <p class="text-textCol">Thank you very much. I’m glad ...</p>
                            {% endcomment %}
                        </div>
                    </div>
                    <div class="flex flex-col items-end justify-end gap-1">
                        {% comment "" %}
                        <p class="text-white">3:28pm</p>
                        {% endcomment %}
                    </div>
                </a>
                {% endfor %}
            </div>
            <!--Chat Box-->
            <div class="hidden lg:flex mx-auto flex-col gap-2 items-center justify-center w-[60vw]">
                <img src="{% static "images/chat-robot.gif" %}" alt="" class="w-[8rem] mt-36">
                {% if profile.display_name %}
                    <h2 class="text-white text-[1.2rem] font-semibold">Welcome, {{ profile.display_name|title }}</h2>
                {% else %}
                    <h2 class="text-white text-[1.2rem] font-semibold">Welcome, {{ profile.user.username|title }}</h2>
                {% endif %}
                <p class="text-textCol text-center">Please select a contact to start messaging.</p>
                <div class="chat-button flex items-center gap-2 text-white bg-priColor px-6 py-2 hover:bg-hoverCol transition duration-200 rounded-lg cursor-pointer"><i class="fa-regular fa-comment-dots" style="color: #edeff3;"></i> Start</div>
            </div>

        </div>
    </div>

    {% include "includes/who-to-chat.html" %}

    <!--Mobile Nav-->
    <div class="fixed flex gap-6 lg:hidden items-center bottom-0 px-6 py-3 w-full justify-between bg-bgColor/90 rounded-t-xl">
        <a href="{% url "home" %}" class="flex px-4 py-4 rounded-2xl"><i class="fa-solid fa-house" style="color: #ffffff;"></i></a>
        <a href="{% url "write-story" %}" class="flex px-4 py-4 rounded-2xl"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i></a>
        <a href="{% url "chat" %}" class="flex px-4 py-4 rounded-2xl bg-lightBlue"><i class="fa-regular fa-comment-dots" style="color: #ffffff;"></i></a>
        <a href="{% url "bookmark" %}" class="flex px-4 py-4 rounded-2xl"><i class="fa-regular fa-bookmark" style="color: #ffffff;"></i></a>
    </div>
</section>

<script>
    const write_story = document.getElementById("write-story")
    const send_btn = document.getElementById("send-and-photo-btn")
    var image_box = document.getElementById("imagePreview")
    write_story.addEventListener('click', increaseHieght)
    function increaseHieght() {
        send_btn.classList.remove('hidden');
        send_btn.classList.add('flex');
        image_box.classList.remove('hidden');
        image_box.classList.add('flex');
    }
</script>

<script>
    function previewImage() {
      var input = document.getElementById('imageInput');
      var preview = document.getElementById('imagePreview');

      while (preview.firstChild) {
        preview.removeChild(preview.firstChild);
      }

      var file = input.files[0];

      if (file) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.style.maxWidth = '100%';
          img.style.maxHeight = '100%';
          preview.appendChild(img);
        };

        reader.readAsDataURL(file);
      }
    }
  </script>

<script>
    const elements = document.querySelectorAll('.chat-box');
    
    elements.forEach((element) => {
      // Your code here
        element.addEventListener('click', changeColor)
        function changeColor() {
            element.classList.toggle('bg-lightBlue/40');
        }

    });

</script>

</body>
{% endblock contents %}