{% extends "base.html" %}
{% load static %}

{% block page_title %}
Reset your password!
{% endblock page_title %}

{% block contents %}
<section class="bg-canvasColor w-screen h-screen">
    <div class="flex justify-between w-full h-full items-center">
        <div class="flex flex-col gap-2 md:gap-6 p-6 md:items-center mx-auto w-screen text-center lg:w-[30vw]">
            <a href="{% url "onboarding" %}"><img src="{% static "images/BuddyChat-logo.png" %}" alt="" srcset="" class="w-[7rem] mx-auto"></a>
            <h3 class="text-white text-[2rem]">Reset Password!</h3>
            {% for message in messages %}
                {% if messages %}
                    <p class="text-red-500">{{ message }}</p>
                {% endif %}
            {% endfor %}
            <form action="" method="POST" class="flex flex-col gap-6 items-start">
                {% csrf_token %}
                <div class="flex flex-col gap-4 items-start justify-start w-full md:w-[25rem]">
                    <label for="password1" class="text-white">New password:</label>
                    <input type="password" name="password1" required placeholder="Enter your new password" class="bg-transparent py-2 text-left text-white rounded-md w-full px-6 focus:border-priColor">
                </div>
                <div class="flex flex-col gap-4 items-start justify-start w-full md:w-[25rem]">
                    <label for="password2" class="text-white">Confirm password:</label>
                    <input type="password" name="password2" required placeholder="Confirm your new password" class="bg-transparent py-2 text-left text-white rounded-md w-full px-6 focus:border-priColor">
                </div>
                <button class="bg-priColor text-white w-full py-2 rounded-md hover:bg-transparent transition duration-200 hover:border hover:border-white">Reset Password</button>
            </form>
            <a href="{% url "login" %}" class="text-textCol hover:text-white text-center">I just remembered my password</a>
        </div>
    </div>
</section>

{% endblock contents %}